LLM_PROVIDER=openai_compatible
OPENAI_COMPATIBLE_API_KEY=
CHROMA_TELEMETRY_DISABLED=true

CHROMA_PERSIST_DIR=./data/chroma

CHATWOOT_BASE_URL=http://localhost:3000
CHATWOOT_API_ACCESS_TOKEN=
CHATWOOT_ACCOUNT_ID=1
CHATWOOT_HMAC_SECRET=
